@use "reset.css";
//@use "@libs/vue-datatables-182/dist/index.css";
@use "../../../src/scss/index.scss";

html {
  font-size: 16px;
}

body {
  font-weight: 500;
  font-size: 0.84rem;
  font-family: Rubic, sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
}