# local IDE settings and editors
.idea/
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# build files and temporary files
node_modules
dist
build
coverage
.vitest/
*.log
*.tmp
*.temp
*.tgz

# npm configuration files
npm-debug.log
yarn-error.log

# files specific to the operating system
.DS_Store
Thumbs.db
desktop.ini

# caches and temporary files
.cache
.npm
.yarn
.pnpm-store
.env

# roadmaps
roadmaps

storybook-static/
release/
