@use '../vars';

.dt182-sticky-start, .dt182-sticky-end {
  z-index: 2;
}

td.dt182-sticky-start, td.dt182-sticky-end {
  background-color: vars.$dt182-sticky-cell-bg-color;
}

.dt182-sticky-extreme.dt182-sticky-start {
  border-right: 1px solid vars.$dt182-cell-border-color !important;
}

.dt182-sticky-extreme.dt182-sticky-end {
  border-left: 1px solid vars.$dt182-cell-border-color !important;
}