@use '../vars' as *;

.dt-cell {
  padding: 0.75rem 1rem;
  line-height: 1.3;
  vertical-align: middle;
  background-color: $dt-bg-color;
  transition: background-color $transition-duration ease-in-out;
}

.dt-row {
  &-clickable {
    cursor: pointer;

    &:hover {
      .dt-cell {
        background-color: $dt-row-hover-color;
      }
    }
  }

  &:not(:last-child) .dt-cell {
    border-bottom: 1px solid $dt-border-color;
  }
}

.dt-cell-numbering {
  &-inner {
    text-align: center;
  }
}

.dt-cell-selection {
  padding-right: 0;
  padding-left: 0;

  &-inner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    input {
      cursor: pointer;
      accent-color: $accent-color;
    }
  }
}

.dt-cell-actions {
  padding-right: 0;
  padding-left: 0;

  &-inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}