@use '../vars';

.dt182-head {
  overflow: hidden;
  background-color: vars.$dt182-head-bg-color;
  border-bottom: 1px solid vars.$dt182-border-color;
  border-radius: 5px;
}

.dt182-order-column-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 0.9rem;
  height: 1.1rem;
  margin-left: 0.2rem;

  svg {
    width: 0.6rem;
    height: 0.6rem;
  }
}

.dt182-column {
  padding: 1.2rem 1rem;
  overflow: hidden;
  font-weight: 600;
  vertical-align: middle;
  background-color: vars.$dt182-head-bg-color;
  transition: all vars.$transition-duration ease-in-out;
  user-select: none;

  &-content {
    display: inline-flex;
    align-items: center;
  }

  &-title {
    word-wrap: normal;
  }

  &.dt182-column-orderable:hover {
    background-color: vars.$dt182-head-bg-color-hover;
    cursor: pointer;
  }
}

.dt182-column-numbering {
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  padding-right: 0;
  padding-left: 0;
  vertical-align: middle;
  background-color: vars.$dt182-head-bg-color;

  &-inner {
    text-align: center;
  }
}

.dt182-column-selection {
  width: 42px;
  min-width: 42px;
  max-width: 42px;
  padding-right: 0;
  padding-left: 0;
  vertical-align: middle;
  background-color: vars.$dt182-head-bg-color;

  &-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .dt182-selection-checkbox {
      margin: 0!important;
      padding: 0!important;
      cursor: pointer;
      accent-color: vars.$accent-color;
    }
  }
}

.dt182-column-actions {
  width: 7rem;
  min-width: 7rem;
  max-width: 7rem;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
  vertical-align: middle;
  background-color: vars.$dt182-head-bg-color;
}