@use "body";
@use "head";
@use "sticky";

.dt-content {
  overflow: hidden;
  border: 1px solid #ededf1;
  border-radius: 5px;

  &.scroll-x {
    overflow-x: scroll;
  }
}

.dt-element-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}