@use '../vars';

.dt182-pagination {
  display: flex;
  align-items: center;

  & > *:not(:first-child) {
    margin-left: 0.25rem;
  }
}

.dt182-pagination-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.2rem;
  height: 2.2rem;
  font-size: 0.84rem;
  background-color: vars.$dt182-pagination-btn-bg-color;
  border-radius: 100%;
  cursor: pointer;
  transition: all vars.$transition-duration ease-in-out;
  user-select: none;

  &:hover {
    background-color: vars.$dt182-pagination-hover-btn-bg-color;
  }

  &.active {
    background-color: vars.$dt182-pagination-active-btn-bg-color;
  }

  &.disabled {
    color: vars.$dt182-pagination-disabled-btn-color !important;
    background-color: vars.$dt182-pagination-disabled-btn-bg-color !important;
    cursor: default;
  }
}

.dt182-pagination-page-arrow > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0.5rem;
  height: 0.5rem;
}