.dt182-bottom {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
}

.dt182-bottom-left {
  display: flex;
  align-items: center;

  & > *:not(:first-child) {
    margin-left: 0.5rem;
  }
}