@use "search";

.dt182-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.dt182-top-left {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}