@use '../vars';

$height: 2.25rem;
$width-min: 6rem;
$width-max: 15rem;
$width-search-icon: 2.25rem;
$width-cross-icon: 1.5rem;
$font-size: 0.82rem;
$transition-width-duration: 400ms;
$bg-color: #fff;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dt-search-icon {
  @include flex-center;

  position: absolute;
  top: 0;
  left: 0;
  width: $width-search-icon;
  height: 100%;
  color: #a8a8b3;

  svg {
    width: 1rem!important;
    height: 1rem!important;
    margin: 0!important;
    padding: 0!important;
  }
}

.dt-search-label {
  @include flex-center;

  position: absolute;
  top: 0;
  left: $width-search-icon;
  height: 100%;
  color: #c8c8cf;
  font-size: $font-size;
  line-height: 1;
  opacity: 1;
  transition: all vars.$transition-duration ease;
}

.dt-search-input {
  position: absolute;
  top: 0;
  left: $width-search-icon;
  width: calc($width-min - $width-search-icon);
  height: 100%;
  padding: 0;
  font-size: $font-size;
  line-height: 1;
  background-color: transparent;
  border: none;
  outline: none;
  opacity: 0;
  transition: all vars.$transition-duration ease;

  &::placeholder {
    color: #c8c8cf;
    font-size: $font-size;
  }
}

.dt-cross-icon {
  @include flex-center;

  position: absolute;
  top: 0;
  right: 0;
  width: $width-cross-icon;
  height: 100%;
  cursor: pointer;

  svg {
    width: 0.5rem!important;
    height: 0.5rem!important;
    margin: 0!important;
    padding: 0!important;
  }
}

// root
.dt-search {
  position: relative;
  width: $width-min;
  height: $height;
  overflow: hidden;
  background-color: $bg-color;
  border: 1px solid #ededf1;
  border-radius: 5px;
  cursor: text;
  transition: width $transition-width-duration ease;

  &.dt-search-active,
  &:hover {
    width: $width-max;

    .dt-search-input {
      width: calc($width-max - $width-search-icon - $width-cross-icon);
      opacity: 1;
    }

    .dt-search-label {
      opacity: 0;
    }

    .dt-search-icon {
      border-color: transparent;
    }
  }
}