@use "rows-per-page-control";
@use "page-details";
@use "pagination";

.dt-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.8rem;
}

.dt-footer-left {
  display: flex;
  align-items: center;

  & > *:not(:first-child) {
    margin-left: 0.5rem;
  }
}