@forward "vars";
@use "vars";
@use "top";
@use "search";
@use "content";
@use "head";
@use "body";
@use "bottom";
@use "pagination";
@use "per-page-control";
@use "page-details";
@use "plugs";
@use "utils";

.vue-datatables-182 {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  height: 100%;
  max-height: 100%;

  *, *::before, *::after {
    box-sizing: border-box;
  }
}
