$accent-color: #4c4c4c;
$dt-bg-color: #fff;
$dt-row-hover-color: #f8f6f6;
$dt-border-color: #f1f4f4;
$dt-head-bg-color: #f1f4f4;
$dt-head-bg-color-hover: #f3f3f3;

// transition effects
$transition-duration: 200ms;