$accent-color: #4c4c4c;
$dt-bg-color: #fff;
$dt-row-sticky-color: #f9fcfd;
$dt-row-hover-color: #f5f8fB;
$dt-border-color: #e1e4e4;
$dt-head-bg-color: #ecf0f7;
$dt-head-bg-color-hover: #dde1ec;

// transition effects
$transition-duration: 200ms;