@use "sass:color";
@use '../vars';

.dt182-cell {
  padding: 0.75rem 1rem;
  line-height: 1.3;
  vertical-align: middle;
  background-color: vars.$dt182-cell-bg-color;
  transition: background-color vars.$transition-duration ease-in-out;
}

.dt182-row {
  &-clickable {
    cursor: pointer;

    &:hover {
      .dt182-cell {
        background-color: vars.$dt182-hovered-row-cell-bg-color;
      }

      .dt182-cell.dt182-sticky-start,
      td.dt182-sticky-end {
        background-color: vars.$dt182-hovered-row-sticky-cell-bg-color;
      }
    }
  }

  &:not(:last-child) .dt182-cell {
    border-bottom: 1px solid vars.$dt182-cell-border-color;
  }

  &.dt182-with-vertical-borders {
    .dt182-cell:not(:first-child) {
      border-left: 1px solid vars.$dt182-cell-border-color;
    }

    .dt182-sticky-start + .dt182-cell:not(.dt182-sticky-start) {
      border-left-width: 0;
    }
  }
}

.dt182-cell-numbering {
  &-inner {
    text-align: center;
  }
}

.dt182-cell-selection {
  padding-right: 0;
  padding-left: 0;

  &-inner {
    display: flex;
    gap: 5px;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    .dt182-selection-checkbox {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 13px;
      min-width: 13px;
      max-width: 13px;
      height: 13px;
      min-height: 13px;
      max-height: 13px;
      font-size: 12px;
      background-color: vars.$dt182-cell-bg-color;
      border: 1px solid vars.$select-row-checkbox-border-color;
      border-radius: 2px;
      cursor: pointer;
      transition: vars.$select-row-checkbox-transition-duration;

      &:hover {
        border-color: color.adjust(vars.$select-row-checkbox-border-color, $lightness: -20%);
      }

      &.checked {
        background-color: vars.$select-row-checkbox-accent-color;
        border-color: vars.$select-row-checkbox-accent-color;

        span {
          margin-left: 2px;
          color: vars.$dt182-cell-bg-color;
        }

        &:hover {
          background-color: color.adjust(vars.$select-row-checkbox-accent-color, $lightness: -20%);
        }
      }
    }
  }
}

.dt182-cell-actions {
  padding-right: 0;
  padding-left: 0;

  &-inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.dt182-body {
  &-skeleton {
    height: 30px;
    margin: 10px;
    background-color: #ecf0f7;
    border-radius: 5px;
    animation-name: skeleton;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }

  @keyframes skeleton {
    0% {
      opacity: 0.7;
    }

    50% {
      opacity: 0.3;
    }

    100% {
      opacity: 0.7;
    }
  }
}
